#drivers {
  background-color: #f6f3f3;
}
#grid-container-drivers-swiper {
  display: none;
  visibility: collapse;
}
#grid-container-drivers {
  margin: 1em 0.5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 1em;
}
.grid-item-drivers {
  border-radius: 8px;
  margin: 0.3em;
  background-color: white;
  border: 1px solid rgb(230, 219, 219);
}
#grid-container-drivers img {
  margin: 0em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#grid-container-drivers .grid-item-drivers:nth-child(4n + 1) {
  margin-right: 0.3em;
  margin-left: 1.2em;
}
#grid-container-drivers .grid-item-drivers:nth-child(4n + 2) {
  margin-left: 0.3em;
  margin-right: 1.2em;
}
#grid-container-drivers .grid-item-drivers:nth-child(4n + 3) {
  margin-right: 0.3em;
  margin-left: 1.2em;
}
#grid-container-drivers .grid-item-drivers:nth-child(4n + 4) {
  margin-left: 0.3em;
  margin-right: 1.2em;
}
.grid-item-drivers p {
  color: black;

  font-size: 1.05rem;
  line-height: 1.1rem;
  padding: 0.3em 0.3em 0em 0.3em;
}

@media screen and (min-width: 600px) {
  .swiper-container {
    display: none;
  }
}
.swiper-drivers p {
  color: black;

  font-size: 1.6rem;
  line-height: 1.7rem;
  padding: 0.3em 1em 1em 0.2em;
}

@media screen and (max-width: 1300px) {
  #grid-container-drivers {
    max-width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  #grid-container-drivers {
    grid-template-columns: repeat(4, 1fr);
    margin: 0.5em 0em;
  }
}

@media screen and (max-width: 600px) {
  #grid-container-drivers {
    display: none;
  }
  .swiper-drivers-container {
    margin-top: 1em;
  }
}

@media screen and (max-width: 1270px) {
  .grid-item-drivers p {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 1130px) {
  .grid-item-drivers p {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
}

@media screen and (max-width: 1025px) {
  .grid-item-drivers p {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 890px) {
  .grid-item-drivers p {
    font-size: 0.9rem;
    line-height: 0.95rem;
  }
}
@media screen and (max-width: 760px) {
  .grid-item-drivers p {
    font-size: 0.75rem;
    line-height: 0.8rem;
  }
}
@media screen and (max-width: 660px) {
  .grid-item-drivers p {
    font-size: 0.65rem;
    line-height: 0.7rem;
  }
}
