.asd {
  opacity: 0.6;
  max-height: 580px;
}
.asd img {
  max-height: 580px;
  border-radius: 0px;
}

.NextRace {
  font-size: 2rem;
  line-height: 2.1rem;
  background-color: #edecec;
  border: 2px solid;
  position: absolute;
  max-height: 450px;

  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1400px) {
  .NextRace {
    font-size: 1.95rem;
    line-height: 2.05rem;
    max-height: 440px;
    width: 670px;
  }
}
@media screen and (max-width: 950px) {
  .NextRace {
    font-size: 1.6rem;
    line-height: 1.7rem;
    max-height: 360px;
    width: 550px;
    top: 95px;
  }
}
@media screen and (max-width: 750px) {
  .NextRace {
    font-size: 1.35rem;
    line-height: 1.45rem;
    max-height: 305px;
    width: 460px;
    top: 70px;
  }
}
@media screen and (max-width: 630px) {
  .NextRace {
    top: 80px;
    max-height: 250px;
    width: 380px;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
@media screen and (max-width: 510px) {
  .NextRace {
    top: 75px;
    max-height: 215px;
    width: 330px;
    font-size: 0.95rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .NextRace {
    top: 65px;
    max-height: 190px;
    width: 280px;
    font-size: 0.9rem;
    line-height: 0.95rem;
  }
}
@media screen and (max-width: 375px) {
  .NextRace {
    max-height: 150px;
    width: 230px;
    font-size: 0.75rem;
    line-height: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  .NextRace {
    top: 60px;
    max-height: 140px;
    width: 215px;
    font-size: 0.7rem;
    line-height: 0.75rem;
  }
}
.NextRace p {
  padding: 0.4em 0.2em;
}
#container-art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 2em;
}
@media screen and (max-width: 1000px) {
  #container-art {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  #container-art {
    grid-template-columns: 1fr;
  }
}
.article {
  margin: 0em 0.5em;
  max-width: 450px;
}

.article .artImg {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 250px;
}
.article h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  padding: 0.2em;
}
.article:hover h2 {
  color: #d80505;
}

@media screen and (max-width: 1400px) {
  .article h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
