.asd {
  opacity: 0.6;
  max-height: 580px;
}
.asd img {
  max-height: 580px;
  border-radius: 0px;
}

.NextRace {
  font-size: 2rem;
  line-height: 2.1rem;
  background-color: #edecec;
  border: 2px solid;
  position: absolute;
  max-height: 450px;
  text-align: center;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 1400px) {
  .NextRace {
    font-size: 1.95rem;
    line-height: 2.05rem;
    max-height: 440px;
    width: 670px;
  }
}
@media screen and (max-width: 950px) {
  .NextRace {
    height: 435px;

    max-width: 100%;
    top: 80px;
  }
}
@media screen and (max-width: 850px) {
  .NextRace {
    top: 48px;
    width: 100%;
    height: auto;
    padding: 0em;
    border: unset;
    background-color: unset;
  }
  .asd img {
    display: none;
  }
  .test {
    margin-bottom: 100px;
  }
  .NextRace p {
    border-bottom: 2px solid black;
    background-color: #edecec;
  }
}

@media screen and (max-width: 700px) {
  .NextRace {
    font-size: 1.8rem;
    line-height: 1.9rem;
    top: 48px;
  }
}
@media screen and (max-width: 620px) {
  .NextRace {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 599px) {
  .NextRace {
    top: 58px;
  }
}

@media screen and (max-width: 520px) {
  .NextRace {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .test {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .NextRace {
    top: 56px;
  }
}

@media screen and (max-width: 375px) {
  .NextRace {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

@media screen and (max-width: 350px) {
  .NextRace {
    top: 51px;
  }
}
.NextRace p {
  padding: 0.4em 0.2em;
}
#container-art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 2em;
}
@media screen and (max-width: 1000px) {
  #container-art {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 450px) {
  #container-art {
    grid-template-columns: 1fr;
  }
}
.article {
  margin: 0em 0.5em;
  max-width: 450px;
}

.article .artImg {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 250px;
}
.article h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  padding: 0.2em;
}
.article:hover h2 {
  color: #d80505;
}

@media screen and (max-width: 1400px) {
  .article h2 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
