#grid-ikone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-left: -2.5em;
  margin-right: -1em;
  color: black;
  z-index: inherit;
  height: 40px;
}
.ikone {
  padding: 0em;
  margin: 0em 0.2em;
  margin-top: -0.2em;
  border-radius: 4px;
  max-height: 50px;
  max-width: 50px;
  color: black;
  z-index: inherit;
}
@media screen and (max-width: 450px) {
  #grid-ikone {
    margin-right: -0.5em;
    margin-left: -3em;
  }
}
@media screen and (max-width: 350px) {
  #grid-ikone {
    margin-right: -0.4em;
    margin-left: -3.3em;
    height: 35px;
  }
  .ikone {
    margin-top: -0.1em;
    max-height: 40px;
    max-width: 40px;
    color: black;
    z-index: inherit;
  }
}
.ikone:hover {
  transform: scale(1.1);
}
.iconHome {
  color: black;
  z-index: 10000000000000;
}
.iconTeams {
  transform: scale(1.15);
}
.iconDrivers {
  transform: scale(0.9);
  margin-top: -0.15em;
}
.iconSchedule {
  transform: scale(0.85);
}

.iconLogin {
  transform: scale(0.9);
}
.iconLogout {
  transform: scale(0.9);
}
