.ul-layout {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto;
}
.li-layout {
  display: block;
  padding: 0em 0em 0.6em 0em;
  margin: 0 auto;
}
.li-layout:hover {
  transform: scale(1.1);
}

.li-act.active {
  color: black;
}
