ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto;
}
li {
  display: block;
  padding: 0em 0em;
  margin: 0 auto;
}
li:hover {
  transform: scale(1.05);
}
li.active {
  border-bottom: 1px solid white;
}
