.post {
  margin: 0 auto;
  background-color: #f6f3f3;
}
.post h1 {
  margin: 0 auto;
  width: 1000px;
  padding: 0.7em 0em 0.5em 0.5em;
}

.sadrzaj {
  position: relative;
  text-align: center;
  padding: 0em 1em;
  margin: 0 auto;
  width: 1000px;
  font-size: 20px;
}
.sadrzaj img {
  display: inline-block;

  width: 100%;
}

#text {
  text-align: justify;
  display: inline-block;

  margin: 1em 0em;
}
.just-comments {
  margin: 0 auto;
  width: 1000px;
  padding: 0em 1em;
}
@media screen and (max-width: 1050px) {
  .post h1 {
    width: 95%;
  }
  .sadrzaj {
    width: 95%;
  }
  .just-comments {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .post h1 {
    font-size: 2rem;
  }
  .sadrzaj {
    font-size: 1rem;
  }

  .sadrzaj img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
