.post-teams {
  background-color: #f6f3f3;
}
.sadrzaj-teams {
  padding: 2em 0em;
  width: 1500px;
  margin: 0 auto;
  text-align: justify;
}
#upper {
  display: grid;
  grid-template-columns: auto auto;

  padding-bottom: 2em;
}
#aboutTeam {
  font-size: 1.1rem;
  line-height: 1rem;
  font-family: Roboto;
  max-width: fit-content;
}
.sadrzaj-teams img {
  object-fit: cover;
  min-width: 100%;
  height: auto;
}
#TeamHistory {
  margin-top: 2em;
  width: 100%;
}
@media screen and (max-width: 1550px) {
  .sadrzaj-teams {
    width: 95%;
  }
  #upper {
    grid-template-columns: auto 600px;
  }
}
@media screen and (max-width: 1350px) {
  #upper {
    grid-template-columns: auto 570px;
  }
}
@media screen and (max-width: 920px) {
  #upper {
    grid-template-columns: 1fr;
  }
  .sadrzaj-teams {
    padding: 1em 0em;
  }
  #TeamHistory {
    margin-top: 0.5em;
  }
}
