.schedule {
  background-color: #f6f3f3;
}
#grid-container-schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-color: #f6f3f3;
  margin: 1em;
}
.grid-item-schedule {
  margin: 1em 1em 0em 1em;
}
.grid-item-schedule p {
  color: darkblue;

  font-size: 1.6rem;
  line-height: 1.7rem;

  padding: 0.3em 0em 0em 0.5em;
}
@media screen and (max-width: 1400px) {
  #grid-container-schedule {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  #grid-container-schedule {
    grid-template-columns: 1fr 1fr;
    margin: 0.5em;
  }
  .grid-item-schedule p {
    font-size: 1.1rem;
    line-height: 1.15rem;
  }
}
@media screen and (max-width: 500px) {
  #grid-container-schedule {
    grid-template-columns: 1fr;
    margin: 0em;
  }
}
