.searchDiv {
  display: grid;
  align-items: left;
  margin: 0em 0em;
  justify-content: center;
}
.input {
  position: relative;
  padding: 3px 10px;
  width: 230px;
  border-radius: 10px;
  top: 30px;
  margin-left: 1.8em;
  margin-bottom: 2em;
}
#noDrivers {
  margin-left: 1.2em;
  padding-top: 1em;
  font-size: 30px;
}
.searchDiv2 {
  position: relative;
  width: 1300px;
  align-items: left;
  justify-content: center;

  margin: 0em 0em;
}
@media screen and (max-width: 1300px) {
  .searchDiv2 {
    left: 1.2%;
  }
}
@media screen and (max-width: 1025px) {
  .searchDiv2 {
    left: 1.2%;
  }
}

@media screen and (max-width: 600px) {
  #grid-container-drivers {
    display: none;
  }
  .swiper-drivers-container {
    margin-top: 1em;
  }
}

#grid-container-drivers2 {
  min-width: 1300px;
  margin: 1em 0.5em;
  display: grid;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 1em;
}
