.aaa {
  background-color: #f6f3f3;
}
table {
  margin: 0em 2em 1em 2em;
  max-width: 90%;
}
#buttonDiv {
  margin: 1em;
  /*   background-color: red;
 */
  max-width: 190px;
}

.driversButton,
.teamsButton {
  background-color: #d80505;
  color: white;
  border: 1px #d80505 solid;
  border-radius: 4px;
  text-shadow: 1px 1px 4px black;
  margin: 0.2em;
  padding: 0.1em 0.5em;
}
.driversButton:hover,
.teamsButton:hover {
  transform: scale(1.06);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  table {
    margin: 0em 0em 1em 1em;
    font-size: 0.8rem;
  }
}
