#grid-container-teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-image: url("../images/teams/background.jpg");
}

@media screen and (max-width: 1100px) {
  #grid-container-teams {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  #grid-container-teams {
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    background-image: none;
  }
}
@media screen and (max-width: 1100px) {
  #grid-container-teams {
    margin-top: 1em;
  }
}
@media screen and (max-width: 500px) {
  #grid-container-teams {
    grid-template-columns: 1fr;
  }
}

.grid-item-teams {
  margin: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 3px;
}
