#grid-container-teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-image: url("../images/teams/background.jpg");
}
.grid-item-teams {
  margin: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  max-height: 240px;
}
@media screen and (max-width: 1100px) {
  #grid-container-teams {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  #grid-container-teams {
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    background-image: none;
  }
  .grid-item-teams {
    margin: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  .grid-item-teams {
    padding: 0.3em;
    margin: 0.3em;
  }
}
