.teams_f1 {
  background-color: grey;
}
#grid-container-teams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-color: grey;
  margin: 2em;
}
.grid-item-teams {
  margin: 1em;
  background-color: white;
  padding: 1em;
}
